<div class="col-md-12">
    <div class="jumbotron"> 
      <img src="./images/BooksLight.png" alt="">
      <h1 class="leadTitle">BookTrade</h1>
      <p class="tagline">Become a member to easily lend and borrow books!</p>
    </div>
</div>

<div class="col-md-12">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <a href="#/items"><div class="panel-body">
        <h3 class="panelheadings">Catalogue of Books</h3> 
        <p>See all of the books our users own </p> 
        <br/>
      </div></a>
    </div>
    <div class="panel panel-default">
      <a href="#/items"><div class="panel-body">
        <h3 class="panelheadings">Request a book</h3> 
        <p>Request to borrow other user's book</p> 
        <br/>
      </div></a>
    </div>      
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <a href="#/myitems"><div class="panel-body">
        <h3 class="panelheadings">Add your books</h3> 
        <p>Add any of your books that you wish to trade</p> 
        <br/>
      </div></a>
    </div>
    <div class="panel panel-default">
      <a href="#/myitems"><div class="panel-body">
        <h3 class="panelheadings">Dashboard</h3> 
        <p>Easily manage your books and trades</p> 
        <br/>
      </div></a>
    </div>      
  </div>
  <div class="col-sm-4" ng-if="!logged">
    <div class="panel panel-default">
      <a href="#/register"><div class="panel-body">
        <h3 class="panelheadings">Live Update</h3> 
        <p>Requests, new books, cancelling - instantaneously updated for all users </p> 
      </div>
    </div></a>
    <div class="panel panel-default">
      <a href="#/register"><div class="panel-body">
        <h3 class="panelheadings">Join Now</h3> 
        <p><a href="#/register">Click here</a> to join the book trade club</p> 
        <br/>
      </div></a>
    </div>      
</div>