<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Trade Requests For Me</h3>
        </div>
        <div class="panel-body">
            <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
            <div ng-show="success" class="alert alert-success">{{successMessage}}</div>
            <div class="myBooks col-md-2" ng-repeat="book in requestsForMe track by $index">
                <form class="form" ng-submit="denyRequest(book.bookid, book.requestedby[0].userid, book.requestedby[0].username)">
                    <div class="form-group">
                        <div class="myBookUpper">
                            <img ng-attr-src="{{book.bookImg}}" alt="{{book.bookTitle}}" class="myBookSearchImg">
                        </div>
                        <div class="bookSearchLower">  
                            <p class="bookSearchTitle">{{book.bookTitle}}</p>
                            <p class="requestP">Requested By: {{book.requestedby[0].username}}</p>
                        </div>     
                    </div>
                    <button type="submit" class="btn btn-danger removeBook" ng-disabled="disabled"><i class="fa fa-times"></i></button>
                </form>
                <form class="form" ng-submit="approveRequest(book.bookid, book.requestedby[0].userid, book.requestedby[0].username)">
                    <button type="submit" class="btn btn-success approveBook" ng-disabled="disabled"><i class="fa fa-check"></i></button>
                </form>
            </div>
        </div>
    </dvi>
</div>